<div class="row pager">
  <div class="col-xs-4"> </div>
  <div class="col-xs-6">
    <img src="{{selectedEvent?.imagePath}}" alt="" class="img-rounded pager" style="max-height: 400px">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-5">
    <h1>{{selectedEvent?.name}}</h1>
    <p>{{selectedEvent?.location}}</p>
    <p>{{selectedEvent?.date | dateFormat}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <button class="btn btn-primary" (click)="onBack()">Back</button>
    <button class="btn btn-primary" *ngIf="this.authService.isAuth" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" *ngIf="this.authService.isAuth" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 wrap">
    <p>{{selectedEvent?.description}}</p>
  </div>
</div>
<br>
