<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedEvent?.imagePath}}" alt="" class="img-rounded pager" style="max-height: 400px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 class="pager">{{selectedEvent?.name}}</h1>
    <h3 class="pager">{{selectedEvent?.location}}</h3>
  </div>
  <div class="col-xs-12">
    <p class="pager">{{selectedEvent?.date | date: 'short'}}</p>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    <button class="btn btn-primary" (click)="onBack()">Back</button>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p class="pager">{{selectedEvent?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"></div>
</div>
<br>
