<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Location</label>
            <input type="text" id="location" class="form-control" formControlName="location">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Date</label>
            <input type="datetime-local" id="name" class="form-control" formControlName="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" id="content" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image Url</label>
            <input type="text" id="image-url" class="form-control" formControlName="imagePath" #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrl.value" style="max-height: 300px" class="img-rounded">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!eventForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>
