<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" class="form-control" formControlName="location">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="datetime-local" id="date" class="form-control" formControlName="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="faculty">Faculty</label>
            <select name="faculty" class="form-control" formControlName="faculty" [(ngModel)]="faculty">
              <option *ngFor="let faculty of this.eventsService.faculties" [value]="faculty">  
              {{faculty}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Event type</label>
            <select name="eventType" class="form-control" formControlName="eventType" [(ngModel)]="eventType">
              <option *ngFor="let eventType of this.eventsService.eventTypes" [value]="eventType">  
              {{eventType}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image Url</label>
            <input type="text" id="image-url" class="form-control" formControlName="imagePath" #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrl.value" style="max-height: 300px" class="img-rounded">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lat">Latitude</label>
            <input type="text" id="lat" class="form-control" formControlName="lat" [(ngModel)]="lat">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lng">Longitude</label>
            <input type="text" id="lng" class="form-control" formControlName="lng" [(ngModel)]="lng">
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="map">
            <sebm-google-map [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="zoom" (mapClick)="mapClicked($event)">
              <sebm-google-map-marker *ngIf="isNew" [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
              <sebm-google-map-marker *ngIf="!isNew" [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!eventForm.valid">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br>
